body {
  background-color: black;
  max-width: 950px;
  margin: auto;
  font-family: "Arial Black", Gadget, sans-serif
}

.header {
  background-color: #a80000;
  color: White;
  /* padding: 15px; */
  height: 60px;
  width: auto;
}

.header h1 {
  font-size: 26px;
  float: left;
  padding: 10px;
}

.header a {
  color: White;
  font-size: 12px;
}
.header span {
  float: right;
  padding: 15px;
}

.category {
  text-align: right;
  font-size: 12px;
  background-color: #3d4044;
  padding: 13px 6px;
  word-spacing: 30px;
}

.category a {
  color: white;
}

.main {
  float: left;
  background-color: white;
  padding: 20px 20px;
}

.main h1 {
  font-size: 24px;
}

.main p {
  font-size: 12px;
  padding: 10px;
}

.main.left {
  width: 70%;
}

.main img {
  width: 100%;
}

.main.right {
  width: 22%;
  padding: 15px;
  height: 87%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.footer {
  background-color: #3d4044;
  color: white;
  padding: 20px;
  font-size: 10px;
}
